.container {
  width: 1920px;
  height: 1080px;

  font-size: 24px;
}

.theme {
  --bg-button: #ffd803;
  --button-txt: #272343;
  --headline: #272343;
  --paragraph: #2d334a;
  --background: #2d334a;

  --rounding: 5px;
}
